<%- include comm/header %>
<%- include comm/nav %>

<div class="container" >
<pre>
说明：
notes or todolist可以输入html标签
特殊标签：xmp标签，pre标签可以格式化段落

展示note的namespace和category统计信息，按月统计日志数量
</pre>

<div class="container" >
  <div  >
    <div  >
      <div  >
        <div >
          <table id="listResult" class="table table-hover">
            <tbody>
	      <tr><td><h4>一.日志分类统计:(共<%=result.notesSum %>篇)</h4></td></tr>
              <% for(var index=0;index < result.categorys.length;index++) { %>
	      <tr>
		  <td>namespace:<font color="red"><%= result.categorys[index].namespace %></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	          日志分类数:<%= result.categorys[index].data.length %>(共<%=result.categorys[index].categoryNotesSum %>篇)
	      </td> 
	      </tr>
              <tr >		
		  <td>
		  <% for(var i=0;i < result.categorys[index].data.length;i++) { %>
                     <%= result.categorys[index].data[i].category %>(<%= result.categorys[index].data[i].count %>)&nbsp;&nbsp;&nbsp;
                  <% }%>
		  </td>
              </tr>
              <% } %>
            </tbody>
          </table>
          <table class="table table-hover">
            <tbody>
		    <tr> <td><h4>二.每月笔记数量:(共<%=result.notesSum %>篇)</h4></td></tr>
		    <tr><td>
              <% result.countByMonth.forEach(function(data,index) { %>
		    <%=data.month %>(<%=data.count %>)&nbsp;&nbsp;&nbsp;
	      <% })%>
	      </td></tr>
	    </tbody>
	 </table>
        </div>
      </div>
    </div>
  </div>
  
  <div  >
    <div  >
      <div  >
        <div >
          <table id="listResult" class="table table-hover">
            <tbody>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<%- include comm/footer %>
